<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 标签的顺序必须按照：(properties?,settings?,typeAliases?,typeHandlers?,
	objectFactory?,objectWrapperFactory?,
	reflectorFactory?,plugins?,
	environments?,databaseIdProvider?,mappers?)"。 -->
	<!-- 引入资源文件 -->
	<properties resource="log4j.properties"></properties>
	
	<!-- settings 中的 logimpl 属性配置指定使用 LOG4J 输出日志  -->
	<settings>
		<setting name="logImpl" value="LOG4J"/>  
		<!-- 加上这句话，实现自动将数据库查出来的下划线的字段转化成驼峰形式，可以避免数据库新增字段后，实体新增后，还需要修改xml文件的查询，删除修改等东西 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 加上这几话，可以实现主键自动返回 -->
		<setting name="useGeneratedKeys" value="true" />
		
		<!-- 全局性设置懒加载。如果设为‘false'，则所有相关联的都会被初始化加载。 -->
	    <setting name="lazyLoadingEnabled" value="true"/>
	    <!-- 当设置为‘true'的时候，懒加载的对象可能被任何懒属性全部加载。否则，每个属性都按需加载。 -->
	    <setting name="aggressiveLazyLoading" value="false"/>
	    <!-- 开启二级缓存，默认为开启的-->
	    <setting name="cacheEnabled" value="true" />
	</settings>
	
	<!-- 枚举类型的处理器 -->
	<typeHandlers>
		<typeHandler javaType="day49ForMybatisDiscriminator.EnabledEnum" handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
	</typeHandlers>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- mybatis配置文件数据库链接部分 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://rm-2ze707l6b0440gg1pxo.mysql.rds.aliyuncs.com:3306/mercury_test_01" />
				<property name="username" value="heimdallr" />
				<property name="password" value="7HGDeJLnH8a3" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- 映射文件地址，需要一个个列举比较麻烦 -->
	<!-- <mappers>
		<mapper resource="mapper/AccTableMapper.xml" />
		<mapper resource="mapper/AccTable2Mapper.xml" />
		<mapper resource="mapper/AccLegalTableMapper.xml" />
		<mapper resource="mapper/AccOrdersMapper.xml" />
		<mapper resource="mapper/AccUserMapper.xml" />
	</mappers> -->
	<!-- 映射文件地址,企图这样，发现不可以-->
	<!-- <mappers>
		<package name="day46ForMybatisLog4jPrintSql.dao"/>
	</mappers> -->
	
	
</configuration>