<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="day51mybatis.yuanma.AccTable2Mapper">
  <resultMap id="BaseResultMap" type="day51mybatis.yuanma.AccTable2">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="holiday_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="activity_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="activity_name2" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, holiday_date, activity_name, activity_name2
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acc_table2
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from acc_table2
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="day51mybatis.yuanma.AccTable2">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acc_table2 (id, holiday_date, activity_name, 
      activity_name2)
    values (#{id,jdbcType=INTEGER}, #{holidayDate,jdbcType=DATE}, #{activityName,jdbcType=VARCHAR}, 
      #{activityName2,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="day51mybatis.yuanma.AccTable2">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acc_table2
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="holidayDate != null">
        holiday_date,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityName2 != null">
        activity_name2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="holidayDate != null">
        #{holidayDate,jdbcType=DATE},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityName2 != null">
        #{activityName2,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="day51mybatis.yuanma.AccTable2">
    update acc_table2
    <set>
      <if test="holidayDate != null">
        holiday_date = #{holidayDate,jdbcType=DATE},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
      <if test="activityName2 != null">
        activity_name2 = #{activityName2,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="day51mybatis.yuanma.AccTable2">
    update acc_table2
    set holiday_date = #{holidayDate,jdbcType=DATE},
      activity_name = #{activityName,jdbcType=VARCHAR},
      activity_name2 = #{activityName2,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>