<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="day46ForMybatisLog4jPrintSql.dao.AccTableMapper">
  <resultMap id="BaseResultMap" type="day46ForMybatisLog4jPrintSql.entity.AccTable">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="holiday_date" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="activity_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    *
  </sql>
  
   <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acc_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <!--  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="day46ForMybatisLog4jPrintSql.entity.AccTable">
    select 
    <include refid="Base_Column_List" />
    from acc_table
    where id = #{id,jdbcType=INTEGER}
  </select> -->
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from acc_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <!-- mysql数据库是AFTER，oracle数据库是BEFORE（先从序列获取值，然后将值作为主键插入到数据库中 ） -->
  <insert id="insert"  keyColumn="id" keyProperty="id"  parameterType="day46ForMybatisLog4jPrintSql.entity.AccTable" useGeneratedKeys="true">
    insert into acc_table (id, holiday_date, activity_name
      )
    values (#{id,jdbcType=INTEGER}, #{holidayDate,jdbcType=DATE}, #{activityName,jdbcType=VARCHAR}
      )
      <selectKey keyColumn="id" resultType="int" keyProperty="id" order="AFTER" >
		SELECT LAST_INSERT_ID()
	  </selectKey>
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="day46ForMybatisLog4jPrintSql.entity.AccTable" useGeneratedKeys="true">
    insert into acc_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="holidayDate != null">
        holiday_date,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="holidayDate != null">
        #{holidayDate,jdbcType=DATE},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="day46ForMybatisLog4jPrintSql.entity.AccTable">
    update acc_table
    <set>
      <if test="holidayDate != null">
        holiday_date = #{holidayDate,jdbcType=DATE},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="day46ForMybatisLog4jPrintSql.entity.AccTable">
    update acc_table
    set holiday_date = #{holidayDate,jdbcType=DATE},
      activity_name = #{activityName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>